In [1]:
print("Email Spam Detector")

Email Spam Detector

In [7]:
import numpy as np 
import pandas as pd

In [8]:
df = pd.read_csv("spam_ham_dataset.csv")

In [9]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [10]:
df.shape

(5171, 4)

In [11]:
df.tail()

,Unnamed: 0,label,text,label_num
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [12]:
df = df.drop('Unnamed: 0' , axis=1)

In [13]:
df

     label                                               text  label_num
0      ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     spam  Subject: photoshop , windows , office . cheap ...          1
4      ham  Subject: re : indian springs\r\nthis deal is t...          0
...    ...                                                ...        ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...          0
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169   ham  Subject: industrial worksheets for august 2000...          0
5170  spam  Subject: important online banking alert\r\ndea...          1

[5171 rows x 3 columns]

In [14]:
df['text'] = df['text'].apply(lambda x : x.lower())

In [15]:
df

     label                                               text  label_num
0      ham  subject: enron methanol ; meter # : 988291\r\n...          0
1      ham  subject: hpl nom for january 9 , 2001\r\n( see...          0
2      ham  subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     spam  subject: photoshop , windows , office . cheap ...          1
4      ham  subject: re : indian springs\r\nthis deal is t...          0
...    ...                                                ...        ...
5166   ham  subject: put the 10 on the ft\r\nthe transport...          0
5167   ham  subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168   ham  subject: calpine daily gas nomination\r\n>\r\n...          0
5169   ham  subject: industrial worksheets for august 2000...          0
5170  spam  subject: important online banking alert\r\ndea...          1

[5171 rows x 3 columns]

In [16]:
import string

def remove_punc(txt):
  return txt.translate(str.maketrans('','',string.punctuation))

In [17]:
df['text'] = df['text'].apply(remove_punc)

In [18]:
df

     label                                               text  label_num
0      ham  subject enron methanol  meter   988291\r\nthis...          0
1      ham  subject hpl nom for january 9  2001\r\n see at...          0
2      ham  subject neon retreat\r\nho ho ho  we  re aroun...          0
3     spam  subject photoshop  windows  office  cheap  mai...          1
4      ham  subject re  indian springs\r\nthis deal is to ...          0
...    ...                                                ...        ...
5166   ham  subject put the 10 on the ft\r\nthe transport ...          0
5167   ham  subject 3  4  2000 and following noms\r\nhpl c...          0
5168   ham  subject calpine daily gas nomination\r\n\r\n\r...          0
5169   ham  subject industrial worksheets for august 2000 ...          0
5170  spam  subject important online banking alert\r\ndear...          1

[5171 rows x 3 columns]

In [19]:
def remove_emojis(txt):
    new = ""
    for i in txt:
        if i.isascii():
            new += i
    return new

df['text'] = df['text'].apply(remove_emojis)

In [20]:
df

     label                                               text  label_num
0      ham  subject enron methanol  meter   988291\r\nthis...          0
1      ham  subject hpl nom for january 9  2001\r\n see at...          0
2      ham  subject neon retreat\r\nho ho ho  we  re aroun...          0
3     spam  subject photoshop  windows  office  cheap  mai...          1
4      ham  subject re  indian springs\r\nthis deal is to ...          0
...    ...                                                ...        ...
5166   ham  subject put the 10 on the ft\r\nthe transport ...          0
5167   ham  subject 3  4  2000 and following noms\r\nhpl c...          0
5168   ham  subject calpine daily gas nomination\r\n\r\n\r...          0
5169   ham  subject industrial worksheets for august 2000 ...          0
5170  spam  subject important online banking alert\r\ndear...          1

[5171 rows x 3 columns]

In [21]:
import nltk

In [22]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from nltk) (2025.9.1)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [24]:

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
stop_words = set(stopwords.words('english'))

In [26]:
def remove(txt):
  words = txt.split()
  cleaned = []
  for i in words:
    if not i in stop_words:
      cleaned.append(i)

  return ' '.join(cleaned)
     

df['text'] = df['text'].apply(remove)

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer

In [47]:
bow_vectorizer = CountVectorizer()
tfidf_vectorizer = TfidfVectorizer()

In [48]:
x_bow = bow_vectorizer.fit_transform(df['text'])
x_tfidf = tfidf_vectorizer.fit_transform(df['text'])

In [49]:
y=df['label_num']
x_train_bow, x_test_bow, y_train_bow, y_test_bow = train_test_split( x_bow, y, test_size=0.20, random_state=42)
x_train_tfidf, x_test_tfidf, y_train_tfidf, y_test_tfidf = train_test_split( x_tfidf, y, test_size=0.20, random_state=42)

In [50]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [51]:
model = LogisticRegression(max_iter=1000)

In [52]:
model.fit(x_train_tfidf , y_train_tfidf)
y_pred = model.predict(x_test_tfidf)

In [53]:
acc = accuracy_score(y_test_tfidf , y_pred)

In [54]:
acc

0.9864734299516909

In [55]:
x_test_tfidf

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 70293 stored elements and shape (1035, 50342)>

In [56]:
import joblib

In [57]:


joblib.dump(tfidf_vectorizer, "vectorizer.joblib")

['vectorizer.joblib']

In [58]:
joblib.dump(model, "spam_model.joblib")

['spam_model.joblib']