In [3]:
print("Email Spam Detector")

Email Spam Detector

In [4]:
!echo "# Email_Spam_Detector" >> README.md
!git init
!git add README.md
!git commit -m "first commit"
!git branch -M main
!git remote add origin https://github.com/kenethchristian4706/Email_Spam_Detector.git
!git push -u origin main

Reinitialized existing Git repository in C:/Users/lenovo/dev/AI/Ex/Email_Spam_Detector/.git/
[main 8ba25fa] first commit
 1 file changed, 1 insertion(+)

error: remote origin already exists.

branch 'main' set up to track 'origin/main'.

To https://github.com/kenethchristian4706/Email_Spam_Detector.git
   daecad9..8ba25fa  main -> main

In [2]:
!git add .

warning: in the working copy of '.ipynb_checkpoints/Untitled-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Untitled.ipynb', LF will be replaced by CRLF the next time Git touches it

In [3]:
!git add .

In [4]:
!git commit -m "upload project"

[main daecad9] upload project
 2 files changed, 57 insertions(+)
 create mode 100644 .ipynb_checkpoints/Untitled-checkpoint.ipynb
 create mode 100644 Untitled.ipynb

In [7]:
!git push

Everything up-to-date

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("spam_ham_dataset.csv")

In [3]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
df.shape

(5171, 4)

In [5]:
df.tail()

,Unnamed: 0,label,text,label_num
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [6]:
df = df.drop('Unnamed: 0' , axis=1)

In [7]:
df

     label                                               text  label_num
0      ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     spam  Subject: photoshop , windows , office . cheap ...          1
4      ham  Subject: re : indian springs\r\nthis deal is t...          0
...    ...                                                ...        ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...          0
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169   ham  Subject: industrial worksheets for august 2000...          0
5170  spam  Subject: important online banking alert\r\ndea...          1

[5171 rows x 3 columns]

In [8]:
df['text'] = df['text'].apply(lambda x : x.lower())

In [9]:
df

     label                                               text  label_num
0      ham  subject: enron methanol ; meter # : 988291\r\n...          0
1      ham  subject: hpl nom for january 9 , 2001\r\n( see...          0
2      ham  subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     spam  subject: photoshop , windows , office . cheap ...          1
4      ham  subject: re : indian springs\r\nthis deal is t...          0
...    ...                                                ...        ...
5166   ham  subject: put the 10 on the ft\r\nthe transport...          0
5167   ham  subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168   ham  subject: calpine daily gas nomination\r\n>\r\n...          0
5169   ham  subject: industrial worksheets for august 2000...          0
5170  spam  subject: important online banking alert\r\ndea...          1

[5171 rows x 3 columns]

In [10]:
import string

def remove_punc(txt):
  return txt.translate(str.maketrans('','',string.punctuation))

In [11]:
df['text'] = df['text'].apply(remove_punc)

In [12]:
df

     label                                               text  label_num
0      ham  subject enron methanol  meter   988291\r\nthis...          0
1      ham  subject hpl nom for january 9  2001\r\n see at...          0
2      ham  subject neon retreat\r\nho ho ho  we  re aroun...          0
3     spam  subject photoshop  windows  office  cheap  mai...          1
4      ham  subject re  indian springs\r\nthis deal is to ...          0
...    ...                                                ...        ...
5166   ham  subject put the 10 on the ft\r\nthe transport ...          0
5167   ham  subject 3  4  2000 and following noms\r\nhpl c...          0
5168   ham  subject calpine daily gas nomination\r\n\r\n\r...          0
5169   ham  subject industrial worksheets for august 2000 ...          0
5170  spam  subject important online banking alert\r\ndear...          1

[5171 rows x 3 columns]

In [13]:
def remove_emojis(txt):
    new = ""
    for i in txt:
        if i.isascii():
            new += i
    return new

df['text'] = df['text'].apply(remove_emojis)

In [14]:
df

     label                                               text  label_num
0      ham  subject enron methanol  meter   988291\r\nthis...          0
1      ham  subject hpl nom for january 9  2001\r\n see at...          0
2      ham  subject neon retreat\r\nho ho ho  we  re aroun...          0
3     spam  subject photoshop  windows  office  cheap  mai...          1
4      ham  subject re  indian springs\r\nthis deal is to ...          0
...    ...                                                ...        ...
5166   ham  subject put the 10 on the ft\r\nthe transport ...          0
5167   ham  subject 3  4  2000 and following noms\r\nhpl c...          0
5168   ham  subject calpine daily gas nomination\r\n\r\n\r...          0
5169   ham  subject industrial worksheets for august 2000 ...          0
5170  spam  subject important online banking alert\r\ndear...          1

[5171 rows x 3 columns]

In [19]:
import nltk

In [ ]:
!pip install nltk

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer

In [18]:
bow_vectorizer = CountVectorizer()
tfidf_vectorizer = TfidfVectorizer()

In [19]:
x_bow = bow_vectorizer.fit_transform(df['text'])
x_tfidf = tfidf_vectorizer.fit_transform(df['text'])

In [20]:
y=df['label_num']
x_train_bow, x_test_bow, y_train_bow, y_test_bow = train_test_split( x_bow, y, test_size=0.20, random_state=42)
x_train_tfidf, x_test_tfidf, y_train_tfidf, y_test_tfidf = train_test_split( x_tfidf, y, test_size=0.20, random_state=42)

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [24]:
model = LogisticRegression()

In [25]:
model.fit(x_train_tfidf , y_train_tfidf)
y_pred = model.predict(x_test_tfidf)

In [27]:
acc = accuracy_score(y_test_tfidf , y_pred)

In [28]:
acc

0.9806763285024155